* {
	font-family: 'https://allfont.net/allfont.css?fonts=raleway-medium';
}

/* dark & light contents */

@media (prefers-color-scheme: dark) {
	body,
	#quote-box,
	#new-quote,
	#tweet,
	#tumblr,
	#tweet-quote,
	#tumblr-quote {
		background-color: #000;
	}
	#new-quote,
	#tweet,
	#tumblr {
		color: #000;
	}
}

@media (prefers-color-scheme: light) {
	#quote-box,
	#new-quote,
	#tweet,
	#tumblr {
		background-color: #fff;
	}
	body {
		background-color: #708090;
	}
	#new-quote,
	#tweet,
	#tumblr {
		color: #fff;
	}
}

/* Main Contents */

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background-color 500ms ease-in-out;
}
#author {
	font-family: 'https://allfont.net/allfont.css?fonts=raleway-extralight';
	text-align: right;
	display: block;
	margin-top: 15px;
	margin-bottom: 25px;
	font-weight: 100;
}
#text {
	font-size: 200%;
}
.animated {
	animation-play-state: paused;
	animation: fade-in 1s ease-in-out alternate;
	animation-play-state: running;
}
@keyframes fade-in {
	/*0%*/
	from {
		opacity: 0;
		/*transform: rotateY('30px');*/
	}
	/*100%*/
	to {
		opacity: 1;
		/*transform: rotateX('0px');*/
	}
}
#quote-box {
	width: 450px;
	border-radius: 0.7%;
	padding: 40px 40px 80px 40px;
	text-align: center;
}
#new-quote {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border: none;
	border-radius: 5%;
	padding: 10px 15px 7px 15px;
	font-size: 80%;
	font-weight: bold;
	float: right;
	transition: background-color 500ms ease-in-out, scale 150ms ease-in-out;
}

#tweet-quote,
#tumblr-quote {
	border: none;
	float: left;
	width: 36.19px;
	height: 36.19px;
	transition: background-color 500ms ease-in-out, scale 150ms ease-in-out;
	border-radius: 10%;
}

#tweet-quote {
	margin-right: 10px;
}

#tweet-quote a,
#tumblr-quote a {
	display: block;
	margin-top: -1px;
	margin-left: -6px;
	padding-right: 1px;
	padding-top: 4px;
	width: 36.19px;
	height: 36.19px;
}

#tweet,
#tumblr {
	width: 18px;
	height: 18px;
	transition: background-color 500ms ease-in-out;
}

#tweet-quote:hover {
	opacity: 0.7;
}
#tumblr-quote:hover {
	opacity: 0.7;
}
#new-quote:hover {
	opacity: 0.7;
}

#pro {
	text-align: center;
	margin-top: 10px;
	color: #fff;
}
#mostafa {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
#mostafa:hover {
	color: #191970;
}
